<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.cart.mapper.CartMapper">

	<select id="queryCartByUserIdAndItemId" resultType="Cart">
		SELECT * FROM tb_cart WHERE user_id = #{userId} AND item_id = #{itemId}
	</select>
	
	<insert id="save" parameterType="Cart">
		INSERT INTO tb_cart (
			id,
			user_id,
			item_id,
			item_title,
			item_image,
			item_price,
			num,
			created,
			updated
		)
		VALUES
			(
				NULL,
				#{userId},
				#{itemId},
				#{itemTitle},
				#{itemImage},
				#{itemPrice},
				#{num},
				NOW(),
				NOW()
			);
	</insert>
	
	<update id="updateCartNum" parameterType="Cart">
		UPDATE tb_cart
			SET 
			 num = #{num},
			 updated = NOW()
			WHERE
				id = #{id}
	</update>
	
	<select id="queryCartList" resultType="Cart">
		SELECT * FROM tb_cart WHERE user_id = #{userId}
	</select>
	
	<update id="updateCartNumByUserIdAndItemId">
		UPDATE tb_cart
			SET 
			 num = #{num},
			 updated = NOW()
			WHERE
				user_id = #{userId} AND item_id = #{itemId}
	</update>
	
	<delete id="delete">
		DELETE FROM tb_cart WHERE user_id = #{userId} AND item_id = #{itemId}
	</delete>
</mapper>